<!-- <div>
	
	<form action="/auth-user" method="POST">

	Email:<input type="email" required="required">

	Password:<input type="password" required="required">

	<button type="submit">Log In</button>

	</form>
</div> -->

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="loginmodal-container">
			<h1>Login to Your Account</h1><br>
		  <form action="/auth-user" method="POST">
			<input type="text" name="user" placeholder="Username">
			<input type="password" name="pass" placeholder="Password">
			<input type="submit" name="login" class="login loginmodal-submit" value="Login">
		  </form>
			
		</div>
	</div>
	</div>